/.DS_Store
/LocalSearchCompletion.xcodeproj/project.xcworkspace/xcuserdata
/LocalSearchCompletion.xcodeproj/xcuserdata/dezinezync.xcuserdatad/xcdebugger
/LocalSearchCompletion.xcodeproj/project.xcworkspace/contents.xcworkspacedata
